{% extends 'base.html.twig' %}

{% block title %}Mon panier - Rheia{% endblock %}

{% block body %}
        {% if cart|length > 0 %}
    <section class="content">
        <H2>Mon panier</H2>
        {% set total = null %}
        <div id="summary">
            <div id="product">
                {% for item in cart %}
                {% set total = total + (item.product.price * item.quantity) %}
                <div class="cart">
                    <div>
                        <div>
                            <img src="{{vich_uploader_asset(item.product, 'attachmentFile')}}">
                        </div>
                        <div>
                            <h3>{{ item.product.title }}</h3>
                            <p>{{ item.product.subtitle }}</p>
                            <p>Quantité : <a href="{{ path('cart_minus',{id : item.product.id}) }}"><i class="fa-solid fa-minus"></i></a> {{ item.quantity }} <a href="{{ path('cart_plus',{id : item.product.id}) }}"><i class="fa-solid fa-plus"></i></a></p>
                            <p>{{(item.product.price * item.quantity /100 )|number_format(2,',','.') }} €</p>
                        </div>
                    </div>
                    <div>
                        <a href="{{path('cart_remove', {id: item.product.id}) }}"><i class="fa-solid fa-trash" style="margin-top:5px; font-size:20px; color:#FFD875;"></i></a>
                    </div>
                </div>
                <hr>
                {% endfor %}
            </div>
            <div id="total-cart">
                <div style="display: flex; justify-content: space-between;">
                    <p>Livraison : </p>
                    <p style="color:#CC2D45;">A définir</p>
                </div>
                <hr>
                <div style="display: flex; justify-content: space-between;">
                    <h4 style="font-weight:bold;">Total : </h4><p style="color:#CC2D45; font-weight:bold; font-size:25px; ">{{(total /100 )|number_format(2,',','.') }} €</p>
                </div>
                <a href="{{path('order_prepare')}}"><button>Valider mon panier</button></a>
            </div>
        </div>
        </section>
        {% else %}
        
        <section class="boutique">
            
                <h3>Votre panier est vide</h3>
            
                <h4>Vous souhaitez ajouter un produit à votre  panier ?</h4>
                <a href="{{path('shop_index')}}"><button class="bouton-plein">Retourner à la boutique</button></a>
        </section>
{% endif %}

{% endblock %}
