{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block stylesheets %}
<style>
    footer{
        display:none !important;
    }
</style>
{% endblock %}
{% block body %}
<section id="connexion">

        <div>
        
            <form id="connexion" method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes connecté avec l'adresse {{ app.user.email }}<a href="{{ path('app_logout') }}">Se déconnecter</a>
                    </div>
                {% endif %}
                <h3>Connectez-vous à votre compte</h3>
                <div class="form-group">
                    <input type="email" value="{{ last_username }}" name="email"class="form-control" autocomplete="email" placeholder="Adresse e-mail" required autofocus> 
                </div> 
                <div class="form-group">
                    <input type="password" name="password" id="inputPassword" autocomplete="current-password" placeholder="Votre mot de passe" required>
                </div>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >

                <input type="submit" value="Se connecter">
            </form>
{% endblock %}
