{% extends 'base.html.twig' %}

{% block title %}Boutique - Rheia{% endblock %}

{% block stylesheets %}
<style>
    footer{
        width:100% !important;
    }
</style>
{% endblock %}

{% block body %}
<div class="Top">
        <h2>Boutique</h2>
    </div>
    
    <section class="produit">
    {% for product in products %}
    
    <div class="row">
        <div>
            <img src="/upload/attachments/{{ product.attachment }}">
            <div class="boutonLike">
                <a href="{{ path('cart_add',{id : product.id}) }}"><i class="fa-solid fa-cart-shopping panier"></i></a>
                <i class="fa-regular fa-heart coeur"> </i>
            </div>
        </div>
        <div>
            <p class="name">{{ product.title }}</p>
            <p class="sub">{{ product.subtitle }}</p>
            <p class="prix">{{ product.price }}€</p>
            <span class="more">Voir l'article <i class="fa-solid fa-arrow-right"></i></span>
        </div>
    </div>
    

    {% endfor %}
</section>
{% endblock %}
