{% extends 'base.html.twig' %}

{% block title %}Boutique - Rheia{% endblock %}

{% block body %}
<div class="Top">
        <h2>Boutique</h2>
        {% for message in app.flashes('add') %}
                <p style="text-align:center; color:white;">{{ message }}</p>
        {% endfor %}
    </div>
    
    <section class="produit">
     
    {% for product in products %}
    <div class="row">
        <div>
            <img src="/upload/attachments/{{ product.attachment }}" alt="{{product.title}}">
            <div class="boutonLike">
                <a href="{{ path('cart_add',{id : product.id}) }}"><i class="fa-solid fa-cart-shopping panier"></i></a>
                <i class="fa-regular fa-heart coeur"> </i>
            </div>
        </div>
        <div>
            <p class="name">{{ product.title }}</p>
            <p class="sub">{{ product.subtitle }}</p>
            <p class="prix">{{(product.price /100 )|number_format(2,',','.') }} €</p>
            <a href="{{path('product_index', {"id":product.id, "category":product.category })}}" class="more">Voir l'article <i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>
    

    {% endfor %}
</section>
{% endblock %}
