{% extends 'base.html.twig' %}

{% block title %}
	{{product.title}}
	- Rheïa
{% endblock %}

{% block body %}

	<section class="content">
		<div>
			<img src="/upload/attachments/{{ product.attachment }}" alt="{{product.title}}">
			<div>
				<div>
					<h2>{{product.title}}</h2>
					<p>{{product.price}}</p>
					<p>{{product.content|raw }}</p>
					<p>c'est un super produit avec des super ingredients de fou malade</p>
				</div>
			</section>
		{% endblock %}
