<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <script src="https://kit.fontawesome.com/fc4d6d5887.js" crossorigin="anonymous"></script>
        <link rel="icon" type="image/x-icon" href={{ asset('assets/images/Logo_rheia.svg') }}>
        {% block stylesheets %}
            {{encore_entry_link_tags('app')}}
        {% endblock %}
    </head>
    

    {% if not app.user %}
       <header>
		<div>
			<a href="{{path('home')}}"><img src={{ asset('assets/images/Logo_rheia.svg') }} alt="logo Rheïa"> </a>
			<nav>
				<ul>
					<a href="{{path('shop_index')}}">
						<li>Boutique</li>
					</a>
					<a href="{{path('app_classement')}}">
						<li>Classement</li>
					</a>
					<a href="{{path('app_about')}}">
						<li>A propos</li>
					</a>
					<a href="{{path('app_contact')}}">
						<li>Contact</li>
					</a>
				</ul>
			</nav>
		</div>
		<div>
			<A href="{{path('app_login')}}"><button class="bouton-vide">Connexion</button></a>
			<A href="{{path('app_register')}}"><button class="bouton-plein">Inscription</button></a>
		</div>
	</header>
    {% endif %}
    {% if app.user %}
         <header>
		<div>
			<a href="{{path('home')}}"><img src={{ asset('assets/images/Logo_rheia.svg') }} alt="logo Rheïa"> </a>
			<nav>
				<ul>
					<a href="{{path('shop_index')}}">
						<li>Boutique</li>
					</a>
					<a href="{{path('app_classement')}}">
						<li>Classement</li>
					</a>
					<a href="{{path('app_about')}}">
						<li>A propos</li>
					</a>
					<a href="{{path('app_contact')}}">
						<li>Contact</li>
					</a>
				</ul>
			</nav>
		</div>
		<div id="icone">
        
            <A href="{{path('cart_index')}}"><i class="fa-solid fa-cart-shopping"></i><p>Panier</p></a>
            <A href="{{path('user_index')}}"><i class="fa-solid fa-user"></i><p>Profil</p></a>
			<A href="{{path('app_logout')}}"><i class="fa-solid fa-right-from-bracket"></i><p>Exit</p></a>
		</div>
	</header>
    {% endif %}
 
	{% block javascripts %}{{encore_entry_link_tags('app')}}
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // Fonction de tri lors du clic sur un titre de colonne
            $('.sortable').click(function() {
                var orderBy = $(this).data('column');
                var orderDir = $(this).data('direction');

                // Rediriger vers la même page avec les paramètres de tri
                window.location.href = 'classement.php?order_by=' + orderBy + '&order_dir=' + orderDir;
            });

            // Fonction de recherche lors de la soumission du formulaire
            $('#searchForm').submit(function(event) {
                event.preventDefault();
                var searchTerm = $('#searchInput').val();

                // Rediriger vers la même page avec le terme de recherche 
                window.location.href = 'classement.php?search=' + searchTerm;
            });
        });
    </script>
		{% endblock %}
    <body>
        {% block body %}{% endblock %}
        
<footer>
        <img src={{ asset('assets/images/Logo_rheia_blanc.svg') }} alt="logo rheia">
        <div>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
          <a href="#"><i class="fa-brands fa-tiktok"></i></a>
        </div>
        <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Participer</a></li>
            <li><a href="{{path('app_contact')}}">Nous contacter</a></li>
            <li><a href="#">Mentions légales</a></li>
        </ul>
        <div class="dedicace">Flavie la star</div>
    </footer> 
  
</body>
</html>