{% extends 'base.html.twig' %}

{% block title %}Récapitulatif commande - Rheia
{% endblock %}

{% block body %}
	<section class="content">
		<h2>Récapitulatif de votre commande</h2>
		<div id="recap">
			<div id="info">
				<div class="card">
					<h4>Informations personnelles</h4>
					{% set deliveryLines = delivery|split('<br>') %}
					<p>{{ deliveryLines[0] | raw }}</p>
					<p>{{ deliveryLines[1] | raw }}</p>
				</div>
				<div class="card">
					<h4>Détails de l'expédition</h4>
					<p>{{ transporter.title }}</p>
					<p>{{ transporter.content }}</p>
					<p>Prix : {{( transporter.price /100 ) |number_format(2,',','.') }}
						€</p>
				</div>
				<div class="card">
					<h4>Adresse de livraison</h4>
					<p>{{ deliveryLines[2] | raw }}</p>
					<p>{{ deliveryLines[3] | raw }}, {{ deliveryLines[4] | raw }}</p>
				</div>
			</div>
			<div id="total-cart" style="width:20vw;">
				<h4>Articles</h4>
				<div id="scroll">
					{% set total = null %}
					{% for product in recapCart %}
						{% set total = total + (product.product.price * product.quantity ) %}
						<div id="product">
							<img src="{{vich_uploader_asset(product.product,'attachmentFile') }}" alt="{{product.product.title}}">

							{{product.product.title}}
							<br>Quantité :
							{{product.quantity}}
							<br>Prix :
							{{(product.product.price * product.quantity /100 )|number_format(2,',','.') }}
							€

						</div>
						<hr>

					{% endfor %}

				</div>
				<div id="detail">
					<p>Articles : {{(total /100 )|number_format(2,',','.') }} €</p>
					<p>Frais de port : {{( transporter.price /100 ) |number_format(2,',','.') }} €</p>
				</div>
                <hr>
				<p id="total">Total :
					<span style="color:#CC2D45;">{{((total + transporter.price) /100 )|number_format(2,',','.') }}
						€</span>
				</p>
				<a id="total-price" href=" {{path('payment_stripe' , {reference:  reference}) }} ">
					<button>Payer la commande</button>
				</a>
			</div>
		</div>
	</section>


{% endblock %}
