{% extends 'base.html.twig' %}

{% block title %}Profil de
	{{app.user.username}}
	- Rheia
{% endblock %}

{% block body %}
	<section id="profile">

		<h2>Mon profil</h2>
		{% for message in app.flashes('success') %}
			<span style="color:#8C40FF;">{{ message }}</span>
		{% endfor %}
		<div>
			<div id="menu">
				<a href="{{path('user_index')}}">Mon profil</a>
				<a href="{{path('user_adress')}}">Mes adresses</a>
			</div>
			<hr>
			<div id="informations">
				<h3>Informations personnelles</h3>
				<p>Nom :
					{{app.user.username}}</p>
				<p>Email :
					{{app.user.email}}</p>
				<p>Numéro de téléphone :
					{{app.user.phone}}</p>
				<a href="{{path('user_edit')}}" class="bouton-plein" style="text-align:center;">Modifier le profil</a>
			</div>
			<div></div>
			<div></div>
		</div>


	</section>


{% endblock %}
