{% extends 'base.html.twig' %}

{% block title %}Classement - Rheïa{% endblock %}

{% block body %}
<div class="Top">
    <h2>Classement</h2>
</div>

<section id="classement">
    {# <form id="searchForm">
        <input type="text" placeholder="Rechercher une école" id="searchInput" name="search" value="{{ searchTerm }}">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form> #}

    <table>
        <tr>
            <th></th>
            <th><a href="#" class="sortable" data-column="nom" data-direction="{{ orderDirection == 'asc' and orderBy == 'nom' ? 'desc' : 'asc' }}">Nom <i class="fa-solid fa-chevron-down"></i></a></th>
            <th><a href="#" class="sortable" data-column="poids_total_recycle" data-direction="{{ orderDirection == 'asc' and orderBy == 'poids_total_recycle' ? 'desc' : 'asc' }}">Poids <i class="fa-solid fa-chevron-down"></i></a></th>
        </tr>

        {% if result|length > 0 %}
            {% set counter = 1 %}
            {% for row in result %}
                <tr>
                    <td id="count">{{ counter }}</td>
                    <td id="name">{{ row.nom }}<br><span id="adresse">{{ row.adresse }}</span></td>
                    <td id="poids">{{ row.poids_total_recycle }} Kg</td>
                </tr>
                {% set counter = counter + 1 %}
            {% endfor %}
        {% else %}
            <tr><td colspan="3">Aucune école trouvée.</td></tr>
        {% endif %}
    </table>
</section>



{% endblock %}
